g[id$="button"] {
  cursor: pointer;
}

@keyframes color_change{
	0% {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

svg:hover #replay_button,
svg:hover #restart_button,
svg:hover #play_button{
	animation-name: color_change;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}