g[id$="button"] {
  cursor: pointer;
}


@keyframes color_change{
	0% {fill: white;}
	50%{fill: blue;}
	100%{fill:white;}
}

svg:hover #replay_button,
svg:hover #restart_button,
svg:hover #play_button{
	animation-name: color_change;
	animation-duration:1s;
	animation-iteration-count: infinite;
}